<!DOCTYPE html>
<html lang="en">

<head>
    <%- include codimd/head %>
</head>

<body>
    <%- include codimd/header %>
    <%- include codimd/body %>
    <%- include codimd/footer %>
    <%- include codimd/foot %>
</body>

<!------------- codimd.ejs ----->

<!--- chen added for viewerjs // edit page --->
<script src="/viewjs/viewer.js"></script>
<link  href="/viewjs/viewer.css" rel="stylesheet">

</html>
